.link-threads {
  background: rgb(252, 176, 69);
  background: linear-gradient(
    135deg,
    rgba(252, 176, 69, 1) 0%,
    rgba(253, 29, 29, 1) 35%,
    rgba(131, 58, 255, 1) 100%
  );
}

.link-other {
  background: rgb(0, 0, 0);
  );
}

.link-link {
  background: rgb(33, 33, 33);
}
.link-apple {
  background: rgb(255, 00, 00);
}
.link-mastodon {
  background: rgb(126 34 206);
}
.link-mastodon {
  background: rgb(126 34 255);
}
.link-mastodon {
  background-color: #7E22FF;
  background: linear-gradient(90deg,  
    #4222FF 0%,
    #7E22FF 35%,
    #7E22FF 50%,
    #7E22FF 65%,
    #4222FF 100%);
}
.link-instagram {
  background-color: #c13584;
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.link-instagram {
  background: rgb(131, 58, 255);
  background: linear-gradient(
    135deg,
    rgba(131, 58, 255, 1) 0%,
    rgba(253, 29,  29, 1) 50%,
    rgba(252,  0, 180, 1) 100%
  );
}

.link-apple {
  background-color: #FF0000;
  background: linear-gradient(90deg, #FF0000, #FF2628, #FF0000);
}

.link-link {
  background-color: #1E1E1E;
  background: linear-gradient(90deg, 
	#0F0F0F 0%, 
	#1E1E1E 35%,
	#1E1E1E 50%, 
	#1E1E1E 65%,
	#0F0F0F 100%);
}

h1 {
  font-family: DIN Alternate, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  letter-spacing: 8px;
}

h2 {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  letter-spacing: 2px;
  color: rgb(255, 00, 00);
}
h3, h3.a {
  font-family: DIN Alternate, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  letter-spacing: 3px;
  color: rgb(255, 00, 00);
}
h4 {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  letter-spacing: 0px;
  color: rgb(255, 00, 00);
}

h1, h2, h3 {
  font-size: 150%;
}

p { 
  font-size: 110%;  
}

.prose :where(a):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: rgb(255, 00, 00);
  text-decoration: none;
  text-decoration-color: red;
}
.prose :where(a):not(:where([class~="not-prose"],[class~="not-prose"] *)):hover {
  text-decoration: underline;
  background-color: rgba(0, 0, 255, 0);
}

.hover\:text-primary-500:hover {
  --tw-text-opacity: 1;
  color: rgb(255 0 0 / var(--tw-text-opacity));
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.hover\:decoration-primary-400:hover {
  text-decoration-color: #ff2628;
}

.text-neutral-500 { 
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  letter-spacing: 0px;
}


@media (prefers-color-scheme: dark) {
  .dark\:bg-neutral-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(00 00 00 / var(--tw-bg-opacity));
  }
}
