  :root {
  --jRed:    #FF2828; /* rgb(255, 040,  40) */
  --jOrange: #FF7828; /* rgb(255, 120,  40) */
  --jYellow: #FFDC28; /* rgb(255, 220,  40) */
  --jGreen:  #28C828; /* rgb( 40, 200,  40) */
  --jBlue:   #2828FF; /* rgb( 40,  40, 255) */
  --jPurple: #7828FF; /* rgb(120,  40, 255) */
  --jPink:   #FF28C8; /* rgb(255,  40, 200) */
  --jGrey:   #282828; /* rgb( 40,  40,  40) */
  --jBlack:  #141414; /* rgb( 20,  20,  20) */
}

.link-instagram {
  background: var(--jPink);
  background: linear-gradient(
    135deg,
    var(--jPurple) -10%,
    var(--jPink) 30%,
    var(--jRed) 70%,
    var(--jYellow) 110%
  );
}
.link-threads {
  background: var(--jOrange);
  background: linear-gradient(
    45deg,
    var(--jPurple) -10%,
    var(--jPink) 30%,
    var(--jRed) 70%,
    var(--jYellow) 110%
  );
}


.link-instagram {
  background: var(--jPink);
  background: linear-gradient(
    135deg,
    var(--jPurple) 0%,
    var(--jPink) 50%,
    var(--jRed) 100%,
    var(--jYellow) 150%
  );
}
.link-threads {
  background: var(--jOrange);
  background: linear-gradient(
    135deg,
    var(--jPurple) -25%,
    var(--jPink) 25%,
    var(--jRed) 75%,
    var(--jYellow) 125%
  );
}


.link-instagram {
  background: var(--jPink);
  background: linear-gradient(
    135deg,
    var(--jPurple) 0%,
    var(--jPink) 50%,
    var(--jRed) 100%,
    var(--jYellow) 150%
  );
}
.link-threads {
  background: var(--jOrange);
  background: linear-gradient(
    135deg,
    var(--jYellow) 0%,
    var(--jRed) 50%,
    var(--jPink) 100%,
    var(--jPurple) 150%
  );
}


.link-mastodon {
  background-color: var(--jPurple);
  background: linear-gradient(
    135deg,  
    var(--jBlue),
    var(--jPurple),
    var(--jPurple),
    var(--jBlue)
  );
}
.link-pay {
  background-color: var(--jGrey);
  background: linear-gradient(
    135deg, 
    var(--jGrey),
    var(--jBlack),
    var(--jGrey)
  );
}
.link-more {
  background-color: var(--jRed);
  background: linear-gradient(
    90deg,  
    var(--jRed),
    red,
    var(--jRed)
  );
}
.link-bluesky {
  background-color: var(--jBlue);
  background: linear-gradient(
    135deg, 
    var(--jPurple), 
    var(--jBlue),
    var(--jPurple)
  );
}




.prose :where(a):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: var(--jRed);
  text-decoration: none;
  text-decoration-color: var(--jRed);
  font-weight: 700;
}
.prose :where(a):not(:where([class~="not-prose"],[class~="not-prose"] *)):hover {
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0);
}
.hover\:text-primary-500:hover {
  color: var(--jRed);
}
.hover\:underline:hover {
  text-decoration-line: underline;
}
.hover\:decoration-primary-400:hover {
  text-decoration-color: var(--jRed);
}




h1,  .font-extrabold, h1.text-center, h1.text-neutral-800,  #Extra h1 {
  font-family: -apple-system, ui-sans-serif, system-ui, sans-serif;
  font: -apple-system-headline;
  letter-spacing: 3px;
  font-stretch: ultra-condensed;
  font-width: ultra-condensed;
  font-size: 450%;
  line-height: 120%;
  font-weight: 200;
}

h2, h2.text-neutral-500 {
  font-family: ui-monospace, monospace, "Courier New";
  letter-spacing: 1px;
  font-size: 120%;
}

h3, h3.a, h3.text-neutral-500 {
  font-family: -apple-system, ui-sans-serif, system-ui, sans-serif;
  font: -apple-system-headline;
  letter-spacing: 1px;
  font-stretch: ultra-expanded;
  font-width: ultra-expanded;
  font-weight: 900;
}

.prose {
  font-size: x-large;
}

h4 {
  font-family: ui-monospace, monospace, "Courier New";
  letter-spacing: 1px;
  font-size: large;
}

h4.item-title, .item-title, #item-title, item-title  {
  font-family: -apple-system, ui-sans-serif, system-ui, sans-serif;
  font: -apple-system-headline;
  letter-spacing: 1px;
  font-stretch: ultra-expanded;
  font-width: ultra-expanded;
  font-weight: 900;
  font-size: x-large;
  }

p { 
  font: -apple-system-body;
}

.text-neutral-500 {
  letter-spacing: 1px;
  font-family: ui-monospace, monospace, "Courier New";
}

.link {
  font-family: ui-rounded;
  font-weight: 600;
  letter-spacing: 1px;
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-neutral-800 {
    background-color: black;
  }
}
#Music {
  
    }
#Extra {
      background-color: var(--jRed);
      position: absolute;
      width: 100%;
      color: white;
      left: 0;
      right: 0;
      bottom: 60;
    }
#Extra p, #Extra h2, #Extra prose, #Extra h1, #Extra h3, #Extra h4 {
  color: white;
}

#Extra a, #Extra prose a, #Extra h3.a
{
  text-decoration: underline;
  color: white;
  text-decoration-line: underline;
  text-decoration-color: black;
}

#Extra h3 {
  color: black;
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 0px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 0px;
}

